html {
	background-color: black;
}

.reeltitle {
	color: white;
	font-size: 72px;
}
.reelimage {
	width: 50%;
	height: 50%;

}
.tropicaltitle {
	color: white;
	text-align: left;
}
.urbantitle{
	text-align: right;
	color:white;
}
.mountaintitle {
	text-align: left;
	color:white;
}
#mountainimage {
	height: 25% !important;
	
}
#urbanimage {
	
}
#tropicalimage {


}
#reelimages {
	flex-direction: column;
}